<form class="form-horizontal">
  <div class="form-group">
    <label for="inputmess" class="col-sm-2 control-label">Task</label>
    <div class="col-sm-6">
      <input class="form-control" id="inputmess" placeholder="Task" ng-model="todoCtrl.task">
      <button type="submit" class="form-control btn glyphicon glyphicon-plus" ng-click="todoCtrl.add()"></button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Author</th>
          <th>Task</th>
          <th>Complete</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in todoCtrl.tasks | filter:todoCtrl.filter">
          <td>{{task.author}}</td>
          <td>{{task.task}}</td>
          <td>{{task.status}}</td>
          <td ng-show=task.author==authData.password.email><button type="submit" class="form-control btn glyphicon glyphicon-trash" ng-click="todoCtrl.remove(task)"><button type="submit" class="form-control btn glyphicon glyphicon-ok" ng-click="todoCtrl.complete(task)"></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Filters:</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="todoCtrl.filtering('completed')">Completed tasks</button>
            <button type="button" class="btn btn-default" ng-click="todoCtrl.filtering('uncompleted')">Uncompleted tasks</button>
            <button type="button" class="btn btn-default" ng-click="todoCtrl.filtering('my')">My tasks</button>
            <button type="button" class="btn btn-default" ng-click="todoCtrl.filtering('all')">All tasks</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  
  <div>
    <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Completed</th>
          <th>Uncompleted</th>
          <th>My</th>
          <th>All</th>
        </tr>
      <tbody>
        <tr>
          <td>{{(todoCtrl.tasks | filter: { status : true }).length}}</td>
          <td>{{(todoCtrl.tasks | filter: { status : false }).length}}</td>
          <td>{{(todoCtrl.tasks | filter: { author : authData.password.email }).length}}</td>
          <td>{{todoCtrl.tasks.length}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</form>
